alembic==1.13.1
async-timeout==4.0.3
blinker==1.7.0
cassandra-driver==3.29.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
boto3==1.34.106
idna==3.6
