<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="fname" name="name" value="your name"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="lname" name="email" value="example@gmail.com"><br><br>
        <input type="submit" value="Submit">
      </form> 
      
</body>
</html>